<footer class="site-footer container-fluid">
	<div class="row">
		<div class="col-md-3 col-md-push-1">
			<form class="form" action="https://tinyletter.com/nhshackday" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nhshackday', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<label for="tlemail">Sign up to our mailing list for news and announcements: </label>
				<div class="form-group row">
					<div class="col-md-9">
						<div class="input-group">
						  <span class="input-group-addon">
							<span class="glyphicon glyphicon-envelope"></span>
						  </span>
						  <input type="email" class="form-control" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/>
						</div>
					</div>
					<div class="col-md-3" align="right">
						<input class="btn btn-info" type="submit" value="Subscribe" />
					</div>
				</div>
				<p><small>( ~1 email per month)&nbsp;</small></p>
			</form>
		</div>
		<div class="col-md-3 col-md-push-1">
			<a class="white" href="https://twitter.com/nhshackday">
				<div class="row">
					<div class="col-md-12 center bold">
						Join us Twitter
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 center">
						<img class="twitter-img" src="/assets/imgs/TwitterLogo_white.png" alt="twitter">
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-3 col-md-push-1">
			<a class="white" href="https://reddit.com/r/nhshackday">
				<div class="row">
					<div class="col-md-12 center bold">
						Chat to us on Reddit
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 center">
						<h3>/r/nhshackday</h3>
					</div>
				</div>
			</a>
		</div>
	</div>
</footer>
<script src="/assets/js/bootstrap.min.js"></script>
