<div class="footer">
    <div class="body">
        <div class="left">
                <h3>About us</h3>
                <p>
                    Geeks who love the NHS
                    <a class="fa fa-envelope-o" href="mailto:hello@openhealthcare.org.uk"><span>hello@openhealthcare.org.uk</span></a>
                    <a class="fa fa-twitter" href="https://twitter.com/nhshackday"><span>@NHSHackDay</span></a>
                </p>
            </div>
            <div class="center">
                <a class="twitter-timeline" data-height="200" data-dnt="true" data-theme="dark" data-link-color="#428bca" href="https://twitter.com/NHSHackDay?ref_src=twsrc%5Etfw">Tweets by NHSHackDay</a>
            </div>
        
            <div class="right">
                    <p>
                        Sign up to our mailing list for news and announcements:
                        <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your email address"> 
                        <button type="submit" class="btn btn-info" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
                    </p>
            </div>
    </div>

    <div class="copyright">
            <a href="https://github.com/">View source code</a>.
            Hosted by <a href="https://github.com/">GitHub</a>
    </div>

</div>