<header>
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/header-logo.png" alt="NHS Hack Day - Geeks who love the NHS">
          <!-- <span class="logo_title">NHS <strong>Hack Day</strong></span> <span class="logo_subtitle">Geeks who love the NHS</span> -->
        </a>
        <a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="nb_left pull-left"> <span class="fa fa-reorder"></span></span> <span class="nb_right pull-right">menu</span>
        </a>

      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav pull-right navbar-nav">
          <!-- <li><a href="/previous/events/2016/05/newcastle/">Newcastle 1-2 Oct 16</a></li> -->
          <li {% if page.url == "/" %}class="active"{% endif %}><a href="/index.html">Home</a></li>
          <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about">About and FAQs</a></li>
              <li><a href="/about/rationale">Rationale</a></li>
              <li><a href="/about/team">Team</a></li>

            </ul>
          </li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/events">Events</a></li>
          <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">Resources<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/resources/datasetsandapis/">Datasets and APIs</a></li>
              <li><a href="/resources/graphics/">NHS Hack Day graphics</a></li>
              <li><a href="/resources/organiser/">Organiser notes</a></li>
              <li><a href="/resources/media/">Media and Photos</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/code-of-conduct">Code of Conduct</a></li>

        </ul>
      </div>
    </div>
  </div>
</header>
