<script src="/assets/js/minigrid.min.js"></script>
<script>
(function(){
  var grid;
  function init() {
    grid = new Minigrid({
      container: '.projects',
      item: '.project',
      gutter: 15
    });
    grid.mount();
  }
  function update() {
    grid.mount();
  }
  document.addEventListener('DOMContentLoaded', init);
  window.addEventListener('load', update);
  window.addEventListener('resize', update);
})();
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>