<ul class="projects{%if include.limit <= 3 or include.projects.size <= 3 %} three{% endif %}">
    {% for project in include.projects limit:include.limit %}
    <li class="project">
        <dl>
            <dt class="name">Name</dt>
            <dd class="name"><a class="name-data" href="{{ project.url }}">{{ project.title }}</a></dd>
            {% if project.thumbnail %}
                <dt class="image">Image</dt>
                <dd class="image"><img width="270" src="/assets/images/projects/{{ project.hackday }}/{{ project.thumbnail }}"></dd>
            {% endif %}
            <dt class="summary">Summary</dt>
            <dd class="summary summary-data">{{ project.summary }}</dd>
            {% if include.hide_team == true %}
                <dt class="team"><span>Team</span></dt>
            {%endif%}
            {% if project.team.size > 0 and include.hide_team != true %}
                <dt class="team team-data" members="{{ project.team | join: ' ' }}"><span>Team</span></dt>
                {% for member in project.team %}
                    {% if member contains '@' %}
                    <dd class="team"><a href="https://twitter.com/{{ member | remove_first: "@" }}" target="_blank">{{ member }}</a></dd>
                    {% else %}
                    <dd class="team">{{ member }}</dd>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if project.links.size > 0 %}
                <dt class="links"><span>Links</span></dt>
                {% if project.links.website %}<dd class="links"><a class="fa fa-external-link" href="{{ project.links.website }}" title="Website" target="_blank"><span>Website</span></a></dd>{% endif %}
                {% if project.links.presentation %}<dd class="links"><a class="fa fa-tv" href="{{ project.links.presentation }}" title="Presentation" target="_blank"><span>Presentation</span></a></dd>{% endif %}
                {% for link in project.links.code %}
                    <dd class="links"><a class="fa fa-github" href="{{ link }}" title="Code" target="_blank"><span>Code</span></a></dd>
                {% endfor %}
            {% endif %}
        </dl>
    </li>
    {% endfor %}
</ul>