<div class="social-bar">
	<h2>Did you enjoy this? Share the love!</h2>
    <a class="fa fa-twitter fa-3x" title="Share via twitter" target="_blank" href="https://twitter.com/intent/tweet?text=Look%20at%20this%20awesome%20thing%20I%20just%20read:%20{{ page.title }} {{ site.url }}{{ page.url}}&via=NHSHackDay&hashtags=nhshd">
        <span>Share via twitter</span>
    </a>
    <a class="fa fa-facebook-square fa-3x" title="Share via facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url}}">
        <span>Share via facebook</span>
    </a>
    <a class="fa fa-envelope-o fa-3x" title="Share via email" href="mailto:?subject=Look%20at%20this%20awesome%20thing%20I%20just%20read%20on%20{{ site.url }}&body={{ site.url }}{{ page.url}}">
        <span>Share via email</span>
    </a>
</div>