<hr>
<div class="container center social-bar">
	<h5>Did you enjoy this? Share the love!</h5>
	<div class="row">
		<a aria-label="Share via twitter" href="https://twitter.com/intent/tweet?text=Look%20at%20this%20awesome%20thing%20I%20just%20read:%20{{ page.title }} {{ site.url }}{{ page.url}} &via=NHSHackDay&hashtags=nhshd" data-size="large">
			<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
		</a>
		<a aria-label="Share via facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url}}">
			<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
		</a>
		<a aria-label="Share via email" href="mailto:?subject=Look%20at%20this%20awesome%20thing%20I%20just%20read%20on%20{{ site.url }}&body={{ site.url }}{{ page.url}}">
			<i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
		</a>
	</div>
</div>

