<hr>
<div class="container center social-bar">
	<h5>Did you enjoy this? Share the love!</h5>
	<div class="row">
		<a aria-label="Share via twitter" href="https://twitter.com/intent/tweet?text=Hello%20world&via=NHSHackDay&hashtags=nhshd" data-size="large">
			<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
		</a>
		<a aria-label="Share via facebook">
			<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
		</a>
		<a aria-label="Share via email">
			<i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
		</a>
	</div>
</div>