<div class="team-members">
{% for member in page.team %}
    <div class="member">
        <img src="/assets/images/team/{{ member.photo }}" alt="{{ member.name }}">
        <span class="name">{{ member.name }}</span>
        <span class="bio">{{ member.bio }}</span>
        <div class="social">
            {% if member.social.facebook %}<a class="fa fa-facebook" href="{{ member.social.facebook }}"><span>Facebok</span></a>{% endif %}
            {% if member.social.twitter %}<a class="fa fa-twitter" href="{{ member.social.twitter }}"><span>Twitter</span></a>{% endif %}
            {% if member.social.linkedin %}<a class="fa fa-linkedin" href="{{ member.social.linkedin }}"><span>LinkedIn</span></a>{% endif %}
            {% if member.social.github %}<a class="fa fa-github-alt" href="{{ member.social.github }}"><span>GitHub</span></a>{% endif %}
        </div>
    </div>
{% endfor %}
</div>