---
layout: default
title: FAQs
id: about
active: active
---

<div class="page-container" style="width:100%">
<h2 id="what">FAQs</h2>

<div class="pull-left well">
	<ul>
    	<li><a href="#what">What is a Hack Day?</a></li>
    	<li><a href="#work">How do NHS Hack Days work?</a></li>
    	<li><a href="#inclusivity">Who should come to NHS Hack Days?</a></li>
    	<li><a href="#next">When is the next NHS Hack Day?</a></li>
    	<li><a href="#previous">What has happened at previous NHS Hack Day?</a></li>
    	<li><a href="#who">Who is behind NHS Hack Day?</a></li>
    	<li><a href="#involved">How can I get involved in NHS Hack Day?</a></li>
    	<li><a href="#judging">What is the judging criteria?</a></li>
	</ul>
</div>

<div class="clearfix"></div>

<div>

<h2 id="what">What is a Hack Day?</h2>
<div class = "well well-large">

<p>Here is Wikipedia’s definition of a hack day:</p>
<blockquote>
	<p>"…A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects. Occasionally, there is a hardware component as well. Hackathons typically last between a day and a week. Some hackathons are intended simply for educational or social purposes, although in many cases the goal is to create usable software…"</p>
</blockquote>

<p>That sounds a bit scary. It isn’t. Hack Days are a fun way to brainstorm collaboratively and come up with quick solutions. Making actual "products" isn't necessarily the aim; it's about having a great time, learning something and meeting some brilliant people. The main advantage of Hack Days is having people with a wide range of skills all in the same room and working together, something which may not be acheived quite so explicitly during day jobs in software development.</p>

<p>What makes NHS Hack Days different is that we are committed to welcoming people who don’t necessarily have computer skills to our events. We want everyone with any interest whatsoever in healthcare technology: healthcare professionals, patients and their relatives, representatives from charities, and anyone else who wants to help out, or even just to see what we’re doing. Notably a career researcher in chemistry came along to one of our recent events by accident thinking it was a day of lectures, but he was persuaded to stay anyway and ended up being part of the winning team!</p>
</div>

<h2 id="work">How do NHS Hack Days work?</h2>
<div class = "well well-large">

<p>We run NHSHDs over three or four weekends a year. On the Saturday morning, everyone arrives and gets coffee. When we've all approximately woken up, anyone with an idea for a project pitches it to the other attendees, after which we all go and get more coffee and split off into groups to get to work.</p>

<p>Groups form quite organically, and some people join several groups rather than committing to just one project. You may choose to join a particular group because you were inspired by the pitch, or because you have skills you think might be useful, or for any reason at all. Sometimes groups end up merging depending on how the hacking goes. It's all very free as you might have gathered.</p>

<p>On the Sunday afternoon, each group gives a short presentation about what they have achieved, and we invite a panel of judges to watch these and decide how to award various prizes. In the past we have offered cash, tablets, textbooks and many other things to winners as prizes, including highly sought-after NHS Hack Day t-shirts.</p>

<p>As we said before: it's not really about "products" or "winning", but offering prizes is our way of incentivising innovation, and perhaps gives you a little something in return for your time. Having credible external judges helps everyone feel like they're part of something real, and it's always interesting to hear feedback on our ideas from practising clinicians, working developers, real patients, people involved in policy or whoever we are forunate enough to have on the judging panel. </p>
</div>


<h2 id="inlcusivity">Who should come to NHS Hack Days?</h2>
<div class = "well well-large">
<p>
	If you’re from a background which isn’t well-represented in most geeky meetups, come along – we want to make a difference.
</p>
<p>
If you’re from a background which is well-represented in most geeky meetups, come along – we want your help to make a difference.
</p>
<p>
If you’re worried about not being computery enough, come.
</p>
<p>
If you think you’re an imposter, come.
</p>
<p>
If your day job isn’t code, come.
</p>
<p>
This isn’t a group of experts, just people. We are interested in the social and technical problems. This is a support group. No-one knows what they are doing.
</p>
	
</div>


<h2 id="next">When is the next NHS Hack Day?</h2>
<div class = "well well-large">

<p>The next NHS Hack Day will be on the weekend of {{site.next-event.date}} at {{site.next-event.venue}} in {{site.next-event.location}}.</p>

{% if site.next-event.signup %}
<p align="left"><a class="btn btn-lg btn-warning" href="{{site.next-event.signup}}">Sign up for the next NHS Hack Day!</a></p>
{% endif %}

<p>Previous NHS Hack Day have been:</p>
<ul>
    {% for event in site.previous %}
    <li>{{event}}</li>
    {% endfor %}
</ul>

<p>We try to hold our events in a variety of places so as many people as possible can attend.</p>


<h2 id="previous">What has happened at previous NHS Hack Days?</h2>
<div class = "well well-large">

<p><a href="http://www.youtube.com/watch?v=3NnfMmKKvBk">Here</a> is a video we made at NHS Hack Day 2 in Liverpool.</p>

<p>Take a look at <a href="http://www.youtube.com/channel/UCe9PO1ltglEvrz-iUlJ1qVg">OpenHealthcareUk’s YouTube channel</a> for videos of some of the pitches and presentations from other NHS Hack Days.</p>

<p>Check out our <a href="/media">media</a> page to see more videos as well as some photos from previous events. Blog posts from attendees can be found on the <a href="/previous/events">previous events</a></p> pages
</div>


<h2 id="who">Who is behind NHS Hack Day?</h2>
<div class = "well well-large">

<p>NHS Hack Day was originally the brainchild of Dr Carl Reynolds, an academic clinical fellow in respiratory medicine and CEO of Open Healthcare UK.</p>

<p>Now the events are run by a team of volunteers who are passionate about improving NHS technology for everyone’s benefit. We want to help healthcare professionals do their jobs, to improve access to services and information for patients, to improve the communication/dissemination of public health data, and generally to support any ideas that could improve everyone’s experiences of the healthcare system.</p>

<p>Volunteers include:
    <ul>
        <li><a href="https://twitter.com/drcjar">@drcjar</a> - Dr Carl Reynolds</li>
        <li><a href="https://twitter.com/thatdavidmiller">@thatdavidmiller</a> - David Miller</li>
        <li><a href="https://twitter.com/DeckOfPandas">@DeckOfPandas</a>  - Dr Helen Jackson, a grad-entry medical student and auditory signal processing researcher</li>
        <li><a href="https://twitter.com/wai2k">@wai2k</a> - Dr Wai Keong Wong, a haematologist</li>
        <li><a href="https://twitter.com/LondonLime">@LondonLime</a> - Dr Ayesha Garret</li>
        <li><a href="https://twitter.com/amcunningham">@amcunningham</a> - Dr Anne-Marie Cunningham</li>
        <li><a href="https://twitter.com/jonjhilton">@jonjhilton</a> - Jon Hilton</li>
    </ul>

<p>All of us tweet from <a href="https://twitter.com/nhshackday">@NHSHackDay</a> from time to time, and the handle #nhshd is pretty active too.</p>

<p>Click <a href="">here</a> for more details about how we run our Hack Days. ***linking to http://wiki.nhshackday.com/wiki/HackDayStack tidied up)</p>
</div>


<h2 id="involved">How can I get involved in NHS Hack Day?</h2>
<div class = "well well-large">

<p>The main answer to this is: come along to the next event and say hello.</p>

<p>In the meantime:</p>
<ul>
    <li>We have an active <a href="https://groups.google.com/forum/#!forum/nhshackday">google group</a></li>
    <li><a href="https://twitter.com/NHSHackDay" class="twitter-follow-button" data-show-count="false">@NHSHackDay</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>, #nhshd</li>
    <li>Email us: <a href="mailto:hello@openhealthcare.org.uk">hello@openhealthcare.org.uk</a></li>
</ul>
</div>

<h2 id="how">How can I support NHS Hack Day?</h2>
<div class = "well well-large">

<p>We need to keep our events free to attend in order to encourage the wide range of attendees that make our community flourish. We need to pay for venue hire, and always provide a healthy lunch each day as well as tea and coffee. We also offer prizes for the best projects as decided by a panel of invited judges. All NHS Hack Day organisers are volunteers, and our events are strictly not-for-profit.</p>

<p>If you can help us at all with our mission then we’d love to hear from you. Perhaps you’d like to offer to judge; perhaps you are from a tech company who shares some of our ideals; perhaps you are someone with a venue we could use; or perhaps you could offer us cash, books or anything else, for example hosting packages to give away as prizes. Whatever you can do for us, please get in touch.</p>
</div>
<h2 id="judging">What is the judging criteria?</h2>
<div class = "well well-large">
  <p>Please see the <a href="/faqs/judging.criteria.html">Judging Criteria</a>.
</div>


</div>
</div>
</div>
