---
layout: default
title: About
id: about
active: active
---

<div class="page-container">

<h1>Frequently Asked Questions</h1>
<ul>
    <li><a href="#what">What is a Hack Day (HD)?</a></li>
    <li><a href="#work">How do NHS Hack Days (NHSHDs) work?</a></li>
    <li><a href="#next">When is the next NHSHackDay?</a></li>
    <li><a href="#what">What has happened at previous NHSHackDays?</a></li>
    <li><a href="#who">Who is behind NHSHackDay?</a></li>
    <li><a href="#involved">How can I get involved in NHSHackDay?</a></li>
</ul>

<h2 id="what">What is a Hack Day (HD)?</h2>
<p>Here is Wikipedia’s definition of a hack day:</p>

<blockquote>
<p>
"…A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects. Occasionally, there is a hardware component as well. Hackathons typically last between a day and a week. Some hackathons are intended simply for educational or social purposes, although in many cases the goal is to create usable software…"
</p>
</blockquote>

<p>That sounds a bit scary. It isn’t. Hack Days are a fun way to brainstorm collaboratively and come up with quick solutions. Making actual "products" isn't necessarily the aim; it's about having a great time, learning something and meeting some brilliant people. The main advantage of Hack Days is having people with a wide range of skills all in the same room and working together, something which may not be acheived quite so explicitly during day jobs in software development.</p>

<p>What makes NHSHDs different is that we are committed to welcoming people who don’t necessarily have computer skills to our events. We want everyone with any interest whatsoever in healthcare technology: healthcare professionals, patients and their relatives, representatives from charities, and anyone else who wants to help out, or even just to see what we’re doing. Notably a career researcher in chemistry came along to one of our recent events by accident thinking it was a day of lectures, but he was persuaded to stay anyway and ended up being part of the winning team!</p>


<h2 id="work">How do NHS Hack Days (NHSHDs) work?</h2>
<p>We run NHSHDs over three or four weekends a year. On the Saturday morning, everyone arrives and gets coffee. When we've all approximately woken up, anyone with an idea for a project pitches it to the other attendees, after which we all go and get more coffee and split off into groups to get to work.</p>

<p>Groups form quite organically, and some people join several groups rather than committing to just one project. You may choose to join a particular group because you were inspired by the pitch, or because you have skills you think might be useful, or for any reason at all. Sometimes groups end up merging depending on how the hacking goes. It's all very free as you might have gathered.</p>

<p>On the Sunday afternoon, each group gives a short presentation about what they have achieved, and we invite a panel of judges to watch these and decide how to award various prizes. In the past we have offered cash, tablets, textbooks and many other things to winners as prizes, including highly sought-after NHS Hack Day t-shirts.</p>

<p>As we said before: it's not really about "products" or "winning", but offering prizes is our way of incentivising innovation, and perhaps gives you a little something in return for your time. Having credible external judges helps everyone feel like they're part of something real, and it's always interesting to hear feedback on our ideas from practising clinicians, working developers, real patients, people involved in policy or whoever we are forunate enough to have on the judging panel. </p>


<h2 id="next">When is the next NHSHD?</h2>

<p>The next NHSHD will be on the weekend of {{site.next-event.date}} at {{site.next-event.venue}} in {{site.next-event.location}}.</p>

{% if site.next-event.signup %}
<p align="center"><a class="btn btn-lg btn-warning" href="{{site.next-event.signup}}">Sign up for NHSHackday!</a></p>
{% endif %}

<p>Previous NHSHDs have been:</p>
<ul>
    {% for event in site.previous %}
    <li>{{event}}</li>
    {% endfor %}
</ul>

<p>We try to hold our events in a variety of places so as many people as possible can attend.</p>


<h2 id="what">What has happened at previous NHSHDs?</h2>
<p>Here is a video we made at <a href="http://www.youtube.com/watch?v=3NnfMmKKvBk">NHSHD 2 in Liverpool</a></p>

<p>Take a look at <a href="http://www.youtube.com/channel/UCe9PO1ltglEvrz-iUlJ1qVg">OpenHealthcareUk’s YouTube channel</a> for videos of some of the pitches and presentations from other NHSHDs</p>


<h2 id="who">Who is behind NHSHD?</h2>
<p>NHSHD was originally the brainchild of Dr Carl Reynolds, an academic clinical fellow in respiratory medicine and CEO of Open Healthcare UK.</p>

<p>Now the events are run by a team of volunteers who are passionate about improving NHS technology for everyone’s benefit. We want to help healthcare professionals do their jobs, to improve access to services and information for patients, to improve the communication/dissemination of public health data, and generally to support any ideas that could improve everyone’s experiences of the healthcare system.</p>

<p>Volunteers include:
    <ul>
        <li><a href="https://twitter.com/drcjar">@drcjar</a> - Carl Reynolds</li>
        <li><a href="https://twitter.com/thatdavidmiller">@thatdavidmiller</a> - David Miller who is a developer at Open Healthcare UK</li>
        <li><a href="https://twitter.com/DeckOfPandas">@DeckOfPandas</a>  - Helen Jackson, a grad-entry medical student and auditory signal processing researcher</li>
        <li><a href="https://twitter.com/wai2k">@wai2k</a> - Wai Keong Wong, a haematologist</li>
        <li><a href="https://twitter.com/LondonLime">@LondonLime</a> - Ayesha Garret</li>
        <li><a href="https://twitter.com/amcunningham">@amcunningham</a> - Anne-Marie Cunningham</li>
        <li><a href="https://twitter.com/jonjhilton">@jonjhilton</a> - Jon Hilton</li>
        <li>All of us tweet from <a href="https://twitter.com/nhshackday">@NHSHackDay</a> from time to time.</li>
    </ul>
</p>

<p>Click <a href="">here</a> for more details about how we run our Hack Days. ***linking to http://wiki.nhshackday.com/wiki/HackDayStack tidied up)</p>


<h2 id="involved">How can I get involved in NHSHD?</h2>
<p>The main answer to this is: come along to the next event and say hello.</p>

<p>In the meantime:</p>
<ul>
    <li>We have an active <a href="https://groups.google.com/forum/#!forum/nhshackday">google group</a></li>
    <li>Follow us on twitter: <a href="https://twitter.com/NHSHackDay">@NHSHackDay</a></li>
    <li>Email us: <a href="mailto:hello@openhealthcare.org">hello@openhealthcare.org</a></li>
</ul>

<h2 id="how">How can I support NHSHD?</h2>
<p>We need to keep our events free to attend in order to encourage the wide range of attendees that make our community flourish. We need to pay for venue hire, and always provide a healthy lunch each day as well as tea and coffee. We also offer prizes for the best projects as decided by a panel of invited judges. All NHSHD organisers are volunteers, and our events are strictly not-for-profit.</p>

<p>If you can help us at all with our mission then we’d love to hear from you. Perhaps you’d like to offer to judge; perhaps you are from a tech company who shares some of our ideals; perhaps you are someone with a venue we could use; or perhaps you could offer us cash, books or anything else, for example hosting packages to give away as prizes. Whatever you can do for us, please get in touch.</p>


</div>