<section class="section-spacing">
  <div class="row">
    <div class="col-md-12">
      <h2 class="sub-header">Overview</h2>
      <div class="row">
	<div class="col-md-6">
	  <h5>{{ page.date_range[0] | date: "%A %-d %h"}}</h5>
	  <ul>
	    <li>
	      8:30-9:30 registration, pitch submissions and coffee.
	    </li>
	    <li>
	      9:30-10:30 introductions and pitches
	    </li>
	    <li>
	      10:30-13:00 form groups and start work!
	    </li>
	    <li>
	      13:00 Lunch
	    </li>
	    <li>
	      18:00 - exhausted Social/dinner/sleeps
	    </li>
	  </ul>
	</div>
	<div class="col-md-6">
	  <h5>{{ page.date_range[1] | date: "%A %-d %h"}}</h5>
	  <ul>
	    <li>
	      8:30-13:00 get back in action
	    </li>
	    <li>
	      13:00 Lunch
	    </li>
	    <li>
	      14:30 Hard deadline for product submissions
	    </li>
	    <li>
	      15:00 - 17:30 presentations, judging and prizes (including highly sought-after NHS Hack Day t-shirts.)
	      and closing
	    </li>
	  </ul>
	</div>
      </div>
      {% if page.map %}
      <hr />
      <center>{{ page.map }}</center>
      {% endif %}
      <hr />
      <p>
	The core focus of an NHS Hack Day is not really to generate usable "products" or "winning".
      </p>
      <p>
	Offering prizes is our way of incentivising innovation,
	and perhaps gives you a little something in return for your time.
	Having credible external judges helps everyone feel like they're part of something real,
	and it's always interesting to hear feedback on our ideas from practising clinicians,
	working developers, real patients, people involved in policy or whoever we are forunate enough
	to have on the judging panel.
      </p>
    </div>
  </div>
</section>

<section class="section-spacing">
  <div class="section-link" id="pitches"></div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="sub-header">Pitch Perfect</h2>
      <p>
        Saturday mornings are all about pitches for projects to work on over the weekend. We have some
        <a href="http://openhealthcare.org.uk/blog/2016/03/21/how-to-pitch-at-a-hackday/" target="_blank">
          advice for making a great pitch
        </a> that you might find hepful.
      </p>
	    <!-- <p> -->
	    <!--         Pitch signup list: <a href="http://bit.ly/nhshackdaypitches">http://bit.ly/nhshackdaypitches</a> -->
	    <!-- </p> -->
    </div>
  </div>
</section>

<section class="section-spacing">
  <div class="section-link" id="group"></div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="sub-header">Find a group</h2>
      <p>
	Groups form quite organically, and some people join several groups rather
	than committing to just one project. You may choose to join a particular group
	because you were inspired by the pitch, because you have skills you think might
	be useful, or for any reason at all. Sometimes groups end up merging depending on how
	the hacking goes.
      </p>
    </div>
  </div>
</section>

<section class="section-spacing">
  <div class="section-link" id="judging"></div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="sub-header">Presentations, Judging Criteria And Prizes</h2>
      <p>
        On the Sunday afternoon, each group gives a short presentation about what they have achieved, and we invite a
        panel of judges to watch these and decide how to award various prizes.
        <br />
        (These often take the form of the highly sought-after NHS Hack Day t-shirts.)
      </p>
      <p>
        A good guide to the kind of projects that tend to do well is the <a href="/resources/judging/">critera for projects</a> we supply to judges.
      </p>
    </div>
  </div>
</section>
