<section class="section-spacing">
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-header">Overview</h2>
			<div class="row">
				<div class="col-md-6">
					<h5>Saturday May 16</h5>
					<ul>
						<li>
							8:30-9:30 registration, <a href="#pitches">pitch submissions</a> and coffee.
						</li>
						<li>
							9:30-10:30 introductions and pitches
						</li>
						<li>
							10:30-13:00 <a href="#group">form groups</a> and start work!
						</li>
						<li>
							13:00 Lunch
						</li>
						<li>
							18:00 - exhausted Social/dinner/sleeps
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h5>Sunday May 17</h5>
					<ul>
						<li>
							8:30-13:00 get back in action
						</li>
						<li>
							13:00 Lunch
						</li>
						<li>
							14:30 Hard deadline for <a href="#judging">product submissions</a>
						</li>
						<li>
							15:00 - 17:30 <a href="#judging">presentations, judging and prizes</a> (including highly sought-after NHS Hack Day t-shirts.)
							and closing
						</li>
					</ul>
				</div>
			</div>
			<p>
				It's not really about "products" or "winning",
				but offering prizes is our way of incentivising innovation,
				and perhaps gives you a little something in return for your time.
				Having credible external judges helps everyone feel like they're part of something real,
				and it's always interesting to hear feedback on our ideas from practising clinicians,
				working developers, real patients, people involved in policy or whoever we are forunate enough
				to have on the judging panel.
			</p>
		</div>
	</div>
</section>
{% include events/sponsors.html %}
<section class="section-spacing">
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-header">Who should come to NHS Hack Days?</h2>
			<p>
				If you’re from a background which isn’t well-represented in most geeky meetups, come along – we want to make a difference.
			</p>
			<p>
			If you’re from a background which is well-represented in most geeky meetups, come along – we want your help to make a difference.
			</p>
			<p>
			If you’re worried about not being computery enough, come.
			</p>
			<p>
			If you think you’re an imposter, come.
			</p>
			<p>
			If your day job isn’t code, come.
			</p>
			<p>
			This isn’t a group of experts, just people. We are interested in the social and technical problems. This is a support group. No-one knows what they are doing.
			</p
		</div>
	</div>
</section>

<section class="section-spacing">
	<div class="section-link" id="pitches"></div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-header">Pitch Perfect</h2>
			<p>
				The pitch is the basis of every successful project. Developers are looking to
				evaluate a pitch on 2 basic criteria:
			</p>
			<ul>
				<li>
					<h5>Can it be done in a weekend?</h5>
					<p>
						The judging criteria requires all projects to be up and running for people to use.
					</p>
				</li>
				<li>
					<h5>Will it provde real benefit?</h5>
					<p>
						Hack days are the perfect way to create simple solutions that can save the nhs time and money.
						The initial focus should start with a <a href="https://www.gov.uk/service-manual/user-centred-design/user-needs.html">user need</a>
					</p>
				</li>
			</ul>
			<p>
				With that in mind there are 2 common pitfalls
			</p>
			<ul>
				<li>
					<h5>
						Does it involve patient data?
					</h5>
					<p>
						understandably there are lot legal, technical and moral issues around patient data. It is
						probably better to avoid this minefield
					</p>
				</li>
				<li>
					<h5>
						Has it already been done before?
					</h5>
					<p>
						This is really common. There are a lot of people trying to create utitilities to get things done
						have a look around and make sure you're proposing something unique.
					</p>
				</li>
			</ul>
			<p>
				Take a look at some of the <a href="/success_stories">successful projects</a> and some of the
				<a href="/datasets/apis/">datasets</a> available
			</p>
			<a href="https://anvil.works/apps/Y5KNRN7X5COPJPWJ/VP3RSAWZZEEDKWUXSGOA7XXQ/app"><h4>Submit a pitch here</h4></a>
			<a href="https://anvil.works/apps/3XNG2ZRYM5DE4BIP/F5TPJXUGPGF6PLFIDZOJ3FYF/app"><h4>See the list of submitted pitches</h4></a>
		</div>
	</div>
</section>

<section class="section-spacing">
	<div class="section-link" id="group"></div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-header">Find a group</h2>
			<p>
				Groups form quite organically, and some people join several groups rather
				than committing to just one project. You may choose to join a particular group
				because you were inspired by the pitch, or because you have skills you think might
				be useful, or for any reason at all. Sometimes groups end up merging depending on how
				the hacking goes. It's all very freeform as you might have gathered.
			</p>
		</div>
	</div>
</section>

<section class="section-spacing">
	<div class="section-link" id="judging"></div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-header">Presentations, Judging Criteria And Prizes</h2>
			<a href="https://anvil.works/apps/I77IEM766STCO53A/4WTCWFL422XZIGKIY5GLVQ35/app"><h5>Presentations should be submitted here</h5></a>
			<a href="https://anvil.works/apps/O2CYC3UGIHKPMIPY/IF4VTCN5KTW7NRS2KDBPRROC/app"><h5>Here is a list of presentations of people who have already signed up</h5></a>
			<h4>Guidelines for presentations</h4>
			<ul>
				<li>Strict time limit of 3-4 mins (tbc) depending on numbers</li>
			    <li>
					Please submit slides in advance with the form above. You should
					give us the URL of a public web-accessible presentation (using
					something like Prezi or Google Presentation) or the URL of a pdf
					containing your slides.
				</li>
				<li>
				    You can demo your project live if required, but only by navigating
					to a public web address using the machine already set up with our AV
					equipment; basically, you can't plug in your own machine to our AV
					equipment. This is for the sake of common sense, time limits and everyone's sanity.
				</li>
			</ul>
			<h4>Guidelines for projects</h4>
			<ul>
				<li>
					Submissions should offer concrete contributions, by example, to the question:
					<strong>How can we build an environment where world class NHS digital services flourish?</strong>
				</li>
				<li>
					It must be possible for someone to get some benefit out of the submission tomorrow
					e.g. A usable but buggy system is fine, a set of photoshop layouts of a system is not.
				</li>
				<li>
					It was done over the weekend. If you're adding additional functionality to an existing service
					only the additional functionality will be considered
				</li>
			</ul>
			<h5>
				Extra credit
			</h5>
			<ul>
				<li>
					something that can straight away be used in the field.
				</li>
				<li>
					Something that could change Government policy simply by existing.
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="section-spacing">
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-header">After The Day</h2>
			<p>
				We would love to hear your thoughts about the day, we would love to
				see any photos you've taken and we would love to hear if you are continuing
				to work on your project so we can add it to our <a href="/success_stories/">success stories</a>
			</p>
			<p>
				The nhs hack days are run purely by volunteers, please <a href="/about/about-nhs-hack-days#get-involved">get in touch</a> and help
				make the next hack day excellent.
			</p>
		</div>
</section>
