{% if page.sponsorships.size > 0 %}
<section class="sponsors section-spacing" id="sponsorship">
  <div class="row bottom-spacing">
    <div class="col-md-12">
      <h2 class="sub-header">Sponsors</h2>
      <p>
	NHS Hack Day would not be possible without the help of our
	excellent sponsors.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
	{% for sponsor in page.sponsorships %}
	{% assign sponsor_details = site.data.sponsors.sponsors[sponsor.sponsor] %}
	<tr class="event-sponsor-row">
	  <td class="vert-align">
            {% if sponsor_details.logo %}
	    <img class="logo" alt="{{ sponsor_details.name }}" title="{{ sponsor_details.name }}" src="/assets/images/sponsors/{{ sponsor_details.logo }}">
            {% else %}
            {{ sponsor_details.name }}
            {% endif %}
	  </td>
	  <td class="vert-align">
	    {{ sponsor.amount }}
	  </td>
	  <td class="vert-align">
	    <a href="{{ sponsor_details.url }}">
	      {{ sponsor_details.url }}
	    </a>
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>
</section>
{% endif %}
