{% if page.teams %}
<section class="event_teams section-spacing">
  <div class="row">
    <div class="col-md-6">
      <h2 class="sub-header">Teams</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
	{% for team in page.teams %}
        {% assign url_size = team.url | size %}
        {% assign urls_size = team.urls | size %}
	<tr class="vert-align">
	  <td class="vert-align" width="20%">
	    <b>{{team.project }}</b>
	  </td>
	  <td class="vert-align">
            {{ team.summary }}
	  </td>
	  <td class="vert-align">
            {% assign handles = team.members | split:',' %}
            {% for handle in handles %}
            {% if handle contains '@' %}
            <a href="https://twitter.com/{{ handle | strip }}" target="_blank">{{ handle }}</a>
            {% else %}
            {{ handle }}
            {% endif %}
            {% endfor %}
	  </td>
          <td width="20%">
            {% if urls_size > 0 %}
	    {% for url in team.urls %}
	    <a href="{{ url[1] }}" target="_blank">{{url[0]}} {{ forloop.counter }}</a>{% if forloop.last == false %}, {% endif %}
	    {% endfor %}
	    {% else %}
	    {% if url_size > 0 %}
	    <a href="{{ team.url }}" target="_blank">Project Link</a>
	    {% endif %}
	    {% endif %}
          </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>
</section>
{% endif %}
