---
layout: default
title: Projects and Code
id: projects
---

<div class="container-fluid">
	<section class="section-spacing">
		<div class="row">
			<div class="col-md-10 col-md-push-1">
				<p>
					The NHS hack days have produced many utilities and tools, a lot of
					which are still in regular use, some of which have gone on to get
					funding. If you think a project is missing in the list below
					please let us know <a href="https://twitter.com/NHSHackDay">@NHSHackDay</a>.
				</p>
			</div>
		</div>
	</section>
	<div class="row bottom-spacing">
		<div class="col-md-12">
		 {% for project in site.data.projects %}
		 	<section class="section-spacing">
			 	<div class="row bottom-spacing">
					 {% include success/success-story.html %}
					 {% include success/success-video.html %}
				</div>
			</section>
		  {% endfor %}
		</div>
	</div>
</div>
