---
layout: default
title: About
id: about
sponsors:
    ohc:
        name: Open Health Care UK
        url: http://openhealthcare.org.uk/
        logo: /assets/images/sponsors/ohc.png
    londonlime:
        name: LondonLime
        url: http://londonlime.net/
        logo: /assets/images/sponsors/londonlime-logo.jpg
    oreilly:
        name: O'Reilly
        url: http://www.oreilly.com/
        logo: http://cdn.oreilly.com/images/sitewide-headers/ml-header-home-blinking.gif
    elasticsearch:
        name: ElasticSearch
        url: http://elasticsearch.com/
        logo: http://i.imgur.com/qLSTCY9.png
    laterpay:
        name: LaterPay
        url: http://laterpay.net/
        logo: http://i.imgur.com/3cgCNK2.png
    gocardless:
        name: GoCardless
        url: https://gocardless.com/
        logo: http://i.imgur.com/gIoR4vA.png
    retrosnub:
        name: Retrosnug
        url: http://www.retrosnub.co.uk/
        logo: http://www.retrosnub.co.uk/img/2013/retrosnub.svg
    tinamous:
        name: Tinamous
        url: http://www.tinamous.com/
        logo: http://i.imgur.com/v8bk3x1.png
    nhse:
        name: NHS Commissioning Board
        url: http://www.commissioningboard.nhs.uk/
        logo: /assets/images/sponsors/NHSE.jpg
    nesta:
        name: Nesta
        url: http://www.nesta.org.uk/
        logo: /assets/images/sponsors/nesta_logo_large.jpg
    badscience:
        name: Bad Science
        url: http://www.badscience.net
        logo: /assets/images/sponsors/BadScience-logo.150.jpg
    phe:
        name: Public Health England
        url: https://www.gov.uk/government/organisations/public-health-england
        logo: /assets/images/sponsors/PHE.jpeg
    tactix4:
        name: Tactix4
        url: http://www.tactix4.com
        logo: /assets/images/sponsors/global.jpg
    bjss:
        name: BJSS
        url: http://www.bjss.com
        logo: /assets/images/sponsors/BJSS_LogogTeal.png
    openeyes:
        name: OpenEyes
        url: http://www.openeyes.org.uk/
        logo: /assets/images/sponsors/openeyes.png
    odi:
        name: The Open Data Institute
        url: http://www.theodi.org
        logo: /assets/images/sponsors/ODI-logo-med.png
    health:
        name: The Health Foundation
        url: http://www.health.org.uk/
        logo: /assets/images/sponsors/tczqKN_web.gif
    bytemark:
        name: Bytemark
        url: http://www.bytemark.com/
        logo: /assets/images/sponsors/Bytemark-THN.jpg
    knowledge:
        name: Knowledge Into Action
        url: #
        logo: /assets/images/sponsors/kintoa.png
---



<div class="page-container">

<p>Open Health Care UK organize NHS Hack Day as a not for profit event. By this we mean that no one, including the organizers, is getting paid to attend. If you would like to support the next event email <a href="mailto:hello@openhealthcare.org.uk?Subject=Can I help?">hello@openhealthcare.org.uk</a></p>

<hr/>
<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">London, May 2014</h2>
<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>

</table>

<hr/>
<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">Cambridge, Nov 2013</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
{% include sponsor_row.html org=page.sponsors.londonlime sponsored="Stickers and design work" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Books" %}
{% include sponsor_row.html org=page.sponsors.elasticsearch sponsored="£600 towards food" %}
{% include sponsor_row.html org=page.sponsors.laterpay sponsored="£250" %}
{% include sponsor_row.html org=page.sponsors.gocardless sponsored="£500" %}
{% include sponsor_row.html org=page.sponsors.retrosnub sponsored="Networking, virtual server credits, and video streaming" %}
{% include sponsor_row.html org=page.sponsors.tinamous sponsored="£600 towards food" %}
</table>


<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">London, May 2013</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
{% include sponsor_row.html org=page.sponsors.nhse sponsored="£3000 towards lunch" %}
{% include sponsor_row.html org=page.sponsors.nesta sponsored="£1000" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Books" %}
{% include sponsor_row.html org=page.sponsors.ohc sponsored="t-shirts + £100 for best openprescribing.org hack" %}
{% include sponsor_row.html org=page.sponsors.badscience sponsored="£100 for best conflict interest of hack" %}
{% include sponsor_row.html org=page.sponsors.phe sponsored="£300 of vouchers for public best health data visualisation" %}
{% include sponsor_row.html org=page.sponsors.tactix4 sponsored="£300" %}
{% include sponsor_row.html org=page.sponsors.bjss sponsored="£500" %}
{% include sponsor_row.html org=page.sponsors.openeyes sponsored="£500 personal donation from Bill Aylwood director of OpenEyes" %}
{% include sponsor_row.html org=page.sponsors.odi sponsored="£1000 from ODI towards venue costs" %}

</table>


<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">Oxford, Jan 2013</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
{% include sponsor_row.html org=page.sponsors.nhse sponsored="£3000 towards lunch" %}
{% include sponsor_row.html org=page.sponsors.nesta sponsored="£500 for best overall knowledge managment project + £100 towards refreshments" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Books" %}
{% include sponsor_row.html org=page.sponsors.health sponsored="£500 knowledge management in diabetes" %}
{% include sponsor_row.html org=page.sponsors.ohc sponsored="t-shirts + £100 for best conflict of interest hack" %}
{% include sponsor_row.html org=page.sponsors.bytemark sponsored="£500 towards refreshments + free hosting trial for 4 months for whoever wants it" %}
{% include sponsor_row.html org=page.sponsors.badscience sponsored="£100 for best conflict interest of hack" %}
{% include sponsor_row.html org=page.sponsors.knowledge sponsored="£200 for knowledge management hack" %}

</table>


<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">Liverpool, Sept 2012</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/nhscb_banner.jpg"></td>
    <td>£3000 unrestricted</td>
    <td><a href="http://www.commissioningboard.nhs.uk/">http://www.commissioningboard.nhs.uk/</a></td>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/ol.png"></td>
    <td>Venue/Staff/Media/T-shirts etc</td>
    <td><a href="http://www.ljmu.ac.uk/aps/OpenLabs/">http://www.ljmu.ac.uk/aps/OpenLabs/</a></td>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/rightcarelogo.png"></td>
    <td>£4000 unrestricted</td>
    <td><a href="http://www.rightcare.nhs.uk/">http://www.rightcare.nhs.uk/</a></td>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/ml-header-home-blinking.gif"></td>
    <td>Ticket to Strata - best big data project</td>
    <td><a href="http://www.oreilly.com/">http://www.oreilly.com/</a></td>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/tczqKN_web.gif"></td>
    <td>Patient involvement in patient safety prize</td>
    <td><a href="http://www.health.org.uk/">http://www.health.org.uk/</a></td>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/"></td>
    <td>Prizes - best Juju charm (https://juju.ubuntu.com/)</td>
    <td><a href="http://www.canonical.com">http://www.canonical.com</a></td>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/scraperwiki.png"></td>
    <td>Prizes - best use of ScraperWiki (http://scraperwiki.com) </td>
    <td><a href="http://www.scraperwiki.com">http://www.scraperwiki.com</a></td>
</tr>
<tr>
    <td><img src="/assets/images/sponsors/scraperwiki.png"></td>
    <td>Prizes - best use of ScraperWiki (http://scraperwiki.com) </td>
    <td><a href="http://www.scraperwiki.com">http://www.scraperwiki.com</a></td>
</tr>
</table>


||{{}}|||| ||||pledged||||||

||{{https://bitbucket.org/ScraperWiki/scraperwiki/raw/cbcca9b46a52/web/media/images/}}||||||||pledged||||||

||{{attachment:global.jpg|alt Tactix4|width=300 height=75}}||||Google Nexus 7 tablet||||PAID||||[[http://www.tactix4.com]]||

||{{attachment:Mayden Logo.png|alt Mayden|width=300 height=75}}||||Google Nexus 7 tablet||||PAID||||[[http://www.mayden.co.uk/]]||

||{{attachment:AdvancedHC.png|alt Advanced|width=300 height=75}}||||Google Nexus 7 tablets||||PAID||||[[http://www.advancedcomputersoftware.com/]]||

||{{attachment:Qxlva_logo_CMYK.png|alt Quicksilva|width=300 height=75}}||||Google Nexus 7 tablet||||PAID||||[[http://www.qxlva.com/]]||

||{{attachment:TOTALLY HEALTH LOGO no strapline.jpg|alt Totally Health|width=300 height=75}}||||Google Nexus 7 tablet||||PAID||||[[http://www.totallyhealth.com/]]||

||{{attachment:londonlime-logo.jpg}}||||Design wizardry inc. NHS Hack Day Logos, t-shirts, and stickers||||paid||||http://portfolio.londonlime.net/index.html||

||{{attachment:ohc.png}}||||Samsung Galaxy Tablet - best use of open data||||PAID||||http://www.openhealthcare.org.uk||





<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">London, May 2012</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
<tr>
    <td><img src=""></td>
    <td></td>
    <td><a href=""></a></td>
</tr>
</table>

||Who||||What||||Status||||Website||
||NHS Right Care||||£5000 unrestricted||||paid to Open Health Care UK||||http://www.rightcare.nhs.uk/||
||Open Health Care UK||||£3226.40 venue costs + £4560 refreshments (healthy lunch + tea and coffee for 200 for 2 days @ULU) <<BR>> + £200 prizes (inc t-shirts)+ approx £500 on pub meets and other incidental costs (total £8486.40)||||paid||||http://www.openhealthcare.org.uk||
||Tactix4||||£beer||||paid||||http://www.tactix4.com/||
||Kainos||||Raspberry Pi||||paid||||http://www.kainos.com/||
||Mastodon C||||Cloud computing time||||paid||||http://www.mastodonc.com/||
||O'Reilly||||Books||||Prizes given||||http://www.oreilly.com/||
||UKGovcamp||||£250 unrestricted||||paid||||http://www.ukgovcamp.com||
||NHS Information Centre||||£2000 catering sponsorship for 200 attendees||||paid||||http://www.ic.nhs.uk||
||Scraperwiki||||£150 amazon vouchers as prizes for best "nhshackday" scraper||||Prizes given||||http://www.scraperwiki.com||



</div>
