---
layout: default
title: Sponsorship
id: about
sponsors:
    johnpyle: &johnpyle
      name: John Pyle
      url: https://www.linkedin.com/pub/john-pyle/18/6a/89b
      logo: /assets/images/sponsors/johnpyle.jpg
    ohc: &ohc
        name: Open Health Care UK
        url: http://openhealthcare.org.uk/
        logo: /assets/images/sponsors/ohc.png
    londonlime: &londonlime
        name: LondonLime
        url: http://londonlime.net/
        logo: /assets/images/sponsors/londonlime-logo.jpg
    oreilly: &oreilly
        name: O'Reilly
        url: http://www.oreilly.com/
        logo: /assets/images/sponsors/oreilly.gif
    elasticsearch: &elasticsearch
        name: ElasticSearch
        url: http://elasticsearch.com/
        logo: /assets/images/sponsors/elasticsearch.png
    laterpay: &laterpay
        name: LaterPay
        url: http://laterpay.net/
        logo: /assets/images/sponsors/laterpay.png
    gocardless: &gocardless
        name: GoCardless
        url: https://gocardless.com/
        logo: /assets/images/sponsors/gocardless.png
    retrosnub: &retrosnub
        name: Retrosnub
        url: http://www.retrosnub.co.uk/
        logo: /assets/images/sponsors/retrosnub.svg
    tinamous: &tinamous
        name: Tinamous
        url: http://www.tinamous.com/
        logo: /assets/images/sponsors/tinamous.png
    nhse: &nhse
        name: NHS Commissioning Board
        url: http://www.commissioningboard.nhs.uk/
        logo: /assets/images/sponsors/NHSE.jpg
    nesta: &nesta
        name: Nesta
        url: http://www.nesta.org.uk/
        logo: /assets/images/sponsors/nesta_logo_large.jpg
    badscience: &badscience
        name: Bad Science
        url: http://www.badscience.net
        logo: /assets/images/sponsors/BadScience-logo.150.jpg
    phe: &phe
        name: Public Health England
        url: https://www.gov.uk/government/organisations/public-health-england
        logo: /assets/images/sponsors/PHE.jpeg
    tactix4: &tactix4
        name: Tactix4
        url: http://www.tactix4.com
        logo: /assets/images/sponsors/global.jpg
    bjss: &bjss
        name: BJSS
        url: http://www.bjss.com
        logo: /assets/images/sponsors/BJSS_LogogTeal.png
    openeyes: &openeyes
        name: OpenEyes
        url: http://www.openeyes.org.uk/
        logo: /assets/images/sponsors/openeyes.png
    odi: &odi
        name: The Open Data Institute
        url: http://www.theodi.org
        logo: /assets/images/sponsors/ODI-logo-med.png
    health: &health
        name: The Health Foundation
        url: http://www.health.org.uk/
        logo: /assets/images/sponsors/tczqKN_web.gif
    bytemark: &bytemark
        name: Bytemark
        url: http://www.bytemark.com/
        logo: /assets/images/sponsors/Bytemark-THN.jpg
    knowledge: &knowledge
        name: Knowledge Into Action
        url: #
        logo: /assets/images/sponsors/kintoa.png
    scraperwiki: &scraperwiki
        name: ScraperWiki
        url: https://scraperwiki.com
        logo: /assets/images/sponsors/scraperwiki.png
    canonical: &canonical
        name: Canonical
        url: http://canonical.com
        logo: /assets/images/sponsors/canonical.jpg
    ol: &ol
        name: OpenLabs
        url: http://www.ljmu.ac.uk/aps/OpenLabs/
        logo: /assets/images/sponsors/ol.png
    rightcare: &rightcare
        name: Rightcare
        url: http://www.rightcare.nhs.uk/
        logo: /assets/images/sponsors/rightcarelogo.png
    mayden: &mayden
        name: Mayden
        url: http://www.mayden.co.uk/
        logo: "/assets/images/sponsors/Mayden Logo.png"
    aa: &aa
        name: Mayden
        url: http://www.advancedcomputersoftware.com/
        logo: "/assets/images/sponsors/AdvancedHC.png"
    quicksila: &quicksila
        name: Quicksilva
        url: http://www.qxlva.com/
        logo: "/assets/images/sponsors/Qxlva_logo_CMYK.png"
    totallyhealth: &totallyhealth
        name: Totally Health
        url: http://www.totallyhealth.com/
        logo: "/assets/images/sponsors/TOTALLY HEALTH LOGO no strapline.jpg"
    kainos: &kainos
        name: Kainos
        url: http://www.kainos.com/
        logo: "/assets/images/sponsors/kainos.png"
    masty: &masty
        name: Mastodon C
        url: http://www.mastodonc.com/
        logo: "/assets/images/sponsors/masty.jpg"
    ukgovcamp: &ukgovcamp
        name: UK Gov Camp
        url: http://www.ukgovcamp.com
        logo: "/assets/images/sponsors/ukgovcamp.png"
    nhsic: &nhsic
        name: NHS Information Centre
        url: http://www.ic.nhs.uk
        logo: "/assets/images/sponsors/nhsic.gif"
    wao: &wao
        name: Wales Audit Office Good Practice
        url: http://www.wao.gov.uk/
        logo: /assets/images/sponsors/wao.png
    phw: &phw
        name: Lives Improvement Service, Public Health Wales
        url: http://www.publichealthwales.wales.nhs.uk/
        logo: /assets/images/sponsors/phw.jpg
    nhswis: &nhswis
        name: NHS Wales Informatics Service
        url: http://www.wales.nhs.uk/nwis/page/52490
        logo: /assets/images/sponsors/nhswis.jpg
    cloudant: &cloudant
        name: Cloudant
        url: http://cloudant.com
        logo: /assets/images/sponsors/cloudant.png
    zesty: &zesty
        name: Zesty
        url: http://www.zesty.co.uk
        logo: /assets/images/sponsors/zesty.png
    nhsenglandopensource: &nhsenglandopensource
        name: NHS England Open Source
        url: http://www.technologystrategy.england.nhs.uk/pg/groups/99205/
        logo: /assets/images/sponsors/nhsenglandopensource.png
    imsmaxims: &imsmaxims
        name: IMS MaxIMS
        url: http://www.imsmaxims.com/opensource/
        logo: /assets/images/sponsors/imsmaxims.png
    alfresco: &alfresco
        name: Alfresco
        url: http://www.alfresco.com/
        logo: /assets/images/sponsors/alfresco.png
    lnccg: &lnccg
        name: Leeds North CCG
        url: http://www.leedsnorthccg.nhs.uk/
        logo: /assets/images/sponsors/lnccg.gif
    lseccg: &lseccg
        name: Leeds South and East CCG
        url: http://www.leedssouthandeastccg.nhs.uk/
        logo: /assets/images/sponsors/lseccg.gif
    lwccg: &lwccg
        name: Leeds West CCG
        url: http://www.leedswestccg.nhs.uk/
        logo: /assets/images/sponsors/lwccg.svg
    redder: &redder
        name: Redder Marketing
        url: http://www.reddermarketing.co.uk/
        logo: /assets/images/sponsors/redder.png
    hemavault: &hemavault
        name: Hemavault
        url: http://www.hemavault.com/
        logo: /assets/images/sponsors/hemavault.png
    collabora: &collabora
        name: Collabora
        url: https://www.collabora.com/
        logo: /assets/images/sponsors/collabora.png
    anvil: &anvil
        name: Anvil
        url: https://anvil.works/
        logo: /assets/images/sponsors/anvil.png
    enticify: &enticify
        name: Enticify
        url: http://www.enticify.com/
        logo: /assets/images/sponsors/enticify.png
    hin: &hin
        name: Health Innovation Network South London
        url: http://www.hin-southlondon.org/
        logo: /assets/images/sponsors/hin.jpeg
    afmdltd: &afmdltd
        name: Away From My Desk Ltd
        url: https://secure.awayfrommydesk.com/
        logo: /assets/images/sponsors/afmdltd.jpg
    freshehr: &freshehr
        name: Fresh EHR Ltd
        url: http://freshehr.com/
        logo: /assets/images/sponsors/freshehr.png
    code4health: &code4health
        name: Code4Health
        url: https://code-4-health.org/
        logo: /assets/images/sponsors/c4hlogo.jpg
    digitalhealth: &digitalhealth
        name: Digital Health Intelligence Ltd
        url: http://www.digitalhealth.net/
        logo: /assets/images/sponsors/dhi-logo.png
    gmahsn: &gmahsn
        name: Greater Manchester Academic Health Science Network's Website
        url: http://www.gmahsn.org/
        logo: /assets/images/sponsors/gmahsn.jpeg
    wwlnhs: &wwlnhs
        name: Wrightington, Wigan and Leigh NHS Foundation Trust
        url: http://www.wwl.nhs.uk/
        logo: /assets/images/sponsors/WWL-logo.jpg
    realitymine: &realitymine
        name: Reality Mine Ltd
        url: http://www.realitymine.com/
        logo: /assets/images/sponsors/realitymine.png
    apadmi: &apadmi
        name: Apadmi Ltd
        url: http://www.apadmi.com/
        logo: /assets/images/sponsors/apadmi.png
    boltonft: &boltonft
        name: Bolton NHS Foundation Trust
        url: http://www.boltonft.nhs.uk/
        logo: /assets/images/sponsors/boltonft.png
    oceaninf: &oceaninf
        name: Ocean Informatics Ltd
        url: https://oceaninformatics.com/
        logo: /assets/images/sponsors/oceaninf.png
    bawmedical: &bawmedical
        name: Baw Medical Ltd
        url: http://www.bawmedical.co.uk/
        logo: /assets/images/sponsors/bawmedical.png
    phcsg: &phcsg
        name: Primary Health Care Specialist Group of the British Computer Society
        url: http://phcsg.org/
        logo: /assets/images/sponsors/phcsg.png
    marand-thinkehr: &marand
        name: Marand Think!EHR
        url: http://www.marand-think.com/
        logo: /assets/images/sponsors/marand_thinkehr.png
events:
    - where: Manchester
      when: September 2015
      sponsorships:
        - sponsor: *afmdltd
          amount: £500 towards event costst
        - sponsor: *freshehr
          amount: £300 towards event costs
        - sponsor: *code4health
          amount: £1000 (£750 towards event costs, £250 for prizes)
        - sponsor: *digitalhealth
          amount: £500 towards hospitality
        - sponsor: *imsmaxims
          amount: £500 towards event costs
        - sponsor: *ohc
          amount: £TBC towards event costs
        - sponsor: *gmahsn
          amount: £500 towards event costs
        - sponsor: *wwlnhs
          amount: £500 towards event costs
        - sponsor: *realitymine
          amount: £500 towards event costs
        - sponsor: *apadmi
          amount: £500 towards event costs
        - sponsor: *boltonft
          amount: £500 towards event costs
        - sponsor: *oceaninf
          amount: £500 towards event costs
        - sponsor: *bawmedical
          amount: £180 for customised lanyards
        - sponsor: *phcsg
          amount: £500  towards event costs
        - sponsor: *marand
          amount: £500 towards event costs
    - where: London
      when: May 2015
      sponsorships:
        - sponsor: *nhse
          amount: £5000 towards venue hire and lunch for 150 people on both days
        - sponsor: *enticify
          amount: £160 towards infrastructure
        - sponsor: *hemavault
          amount: £100
        - sponsor: *londonlime
          amount: New T shirt design, banner, stickers and digital logos for use in projects
        - sponsor: *oreilly
          amount: 10 books as prizes
        - sponsor: *retrosnub
          amount: VPS hosting as a prize
        - sponsor: *anvil
          amount: 40 NHS Hack Day T shirts
        - sponsor: *ohc
          amount: tbc
        - sponsor: *hin
          amount: Lots of logistical support
    - where: Cardiff
      when: January 2015
      sponsorships:
        - sponsor: *nhswis
          amount: "£2000"
        - sponsor: *phw
          amount: "£2000"
        - sponsor: *wao
          amount: "£1000"
        - sponsor: *collabora
          amount: "£150"
        - sponsor: *hemavault
          amount: "£100"
    - where: Leeds
      when: September 2014
      sponsorships:
        - sponsor: *alfresco
          amount: "£500"
        - sponsor: *imsmaxims
          amount: "£100"
        - sponsor: *johnpyle
          amount: £400
        - sponsor: *nhsenglandopensource
          amount: "£2500"
        - sponsor: *redder
          amount: "Employee time and sundries"
        - sponsor: *lnccg
          amount: "£500"
        - sponsor: *lseccg
        - sponsor: *lwccg
    - where: London
      when: May 2014
      sponsorships:
        - sponsor: *zesty
          amount: "£500"
        - sponsor: *nhsenglandopensource
          amount: "£2000"
    - where: Cardiff
      when: January 2014
      sponsorships:
        - sponsor: *wao
          amount: "£1000"
        - sponsor: *phw
          amount: "£1500"
        - sponsor: *nhswis
          amount: "£1500"
        - sponsor: *cloudant
          amount: "£250"
    - where: Cambridge
      when: November 2013
      sponsorships:
        - sponsor: *londonlime
          amount: "Stickers and design work"
        - sponsor: *oreilly
          amount: "Books"
        - sponsor: *elasticsearch
          amount: "£600 towards food"
        - sponsor: *laterpay
          amount: "£250"
        - sponsor: *gocardless
          amount: "£500"
        - sponsor: *retrosnub
          amount: "Networking, virtual server credits, and video streaming"
        - sponsor: *tinamous
          amount: "£600 towards food"
    - where: London
      when: May 2013
      sponsorships:
        - sponsor: *nhse
          amount: "£3000 towads lunch"
        - sponsor: *nesta
          amount: "£1000"
        - sponsor: *oreilly
          amount: "Books"
        - sponsor: *ohc
          amount: "t-shirts + £100 for best openprescribing.org hack"
        - sponsor: *badscience
          amount: "£100 for best conflict interest of hack"
        - sponsor: *phe
          amount: "£300 of vouchers for public best health data visualisation"
        - sponsor: *tactix4
          amount: "£300"
        - sponsor: *bjss
          amount: "£500"
        - sponsor: *openeyes
          amount: "£500 personal donation from Bill Aylwood director of OpenEyes"
        - sponsor: *odi
          amount: "£1000 from ODI towards venue costs"
    - where: Oxford
      when: January 2013
      sponsorships:
        - sponsor: *nhse
          amount: "£3000 towards lunch"
        - sponsor: *nesta
          amount: "£500 for best overall knowledge managment project + £100 towards refreshments"
        - sponsor: *oreilly
          amount: "Books"
        - sponsor: *health
          amount: "£500 knowledge management in diabetes"
        - sponsor: *ohc
          amount: "t-shirts + £100 for best conflict of interest hack"
        - sponsor: *bytemark
          amount: "£500 towards refreshments + free hosting trial for 4 months for whoever wants it"
        - sponsor: *badscience
          amount: "£100 for best conflict interest of hack"
        - sponsor: *knowledge
          amount: "£200 for knowledge management hack"
    - where: Liverpool
      when: September 2012
      sponsorships:
        - sponsor: *nhse
          amount: "£3000 unrestricted"
        - sponsor: *ol
          amount: "Venue/Staff/Media/T-shirts etc"
        - sponsor: *rightcare
          amount: "£4000 unrestricted"
        - sponsor: *oreilly
          amount: "Ticket to Strata - best big data project"
        - sponsor: *health
          amount: "Patient involvement in patient safety prize"
        - sponsor: *canonical
          amount: "Prizes - best Juju charm (https://juju.ubuntu.com/)"
        - sponsor: *scraperwiki
          amount: "Prizes - best use of ScraperWiki (http://scraperwiki.com) "
        - sponsor: *tactix4
          amount: "Google Nexus 7 tablet"
        - sponsor: *mayden
          amount: "Google Nexus 7 tablet"
        - sponsor: *aa
          amount: "Google Nexus 7 tablet"
        - sponsor: *quicksila
          amount: "Google Nexus 7 tablet"
        - sponsor: *totallyhealth
          amount: "Google Nexus 7 tablet"
        - sponsor: *londonlime
          amount: "Design wizardry inc. NHS Hack Day Logos, t-shirts, and stickers"
        - sponsor: *ohc
          amount: "Samsung Galaxy Tablet - best use of open data"
    - where: London
      when: May 2012
      sponsorships:
        - sponsor: *rightcare
          amount: "£5000 unrestricted"
        - sponsor: *ohc
          amount: "£3226.40 venue costs + £4560 refreshments (healthy lunch + tea and coffee for 200 for 2 days @ULU) + £200 prizes (inc t-shirts)+ approx £500 on pub meets and other incidental costs (total £8486.40)|"
        - sponsor: *tactix4
          amount: "£beer"
        - sponsor: *oreilly
          amount: "Books"
        - sponsor: *scraperwiki
          amount: "£150 amazon vouchers as prizes for best nhshackday scraper"
        - sponsor: *kainos
          amount: "Raspberry Pi"
        - sponsor: *masty
          amount: "Cloud computing time"
        - sponsor: *ukgovcamp
          amount: "£250 unrestricted"
        - sponsor: *nhsic
          amount: "£2000 catering sponsorship for 200 attendees"
---


<div class="page-container">

<p>Open Health Care UK organise NHS Hack Day as a not-for-profit event. By this we mean that no one, including the organisers, is getting paid to attend. If you would like to support the next event, please email <a href="mailto:hello@openhealthcare.org.uk?Subject=Can I help?">hello@openhealthcare.org.uk</a></p>

{% for event in page.events %}
	{% include sponsorship_table.html when=event.when where=event.where sponsorships=event.sponsorships %}
{% endfor %}

</div>
