---
layout: default
title: Sponsorship
id: about
sponsors:
    ohc:
        name: Open Health Care UK
        url: http://openhealthcare.org.uk/
        logo: /assets/images/sponsors/ohc.png
    londonlime:
        name: LondonLime
        url: http://londonlime.net/
        logo: /assets/images/sponsors/londonlime-logo.jpg
    oreilly:
        name: O'Reilly
        url: http://www.oreilly.com/
        logo: http://cdn.oreilly.com/images/sitewide-headers/ml-header-home-blinking.gif
    elasticsearch:
        name: ElasticSearch
        url: http://elasticsearch.com/
        logo: http://i.imgur.com/qLSTCY9.png
    laterpay:
        name: LaterPay
        url: http://laterpay.net/
        logo: http://i.imgur.com/3cgCNK2.png
    gocardless:
        name: GoCardless
        url: https://gocardless.com/
        logo: http://i.imgur.com/gIoR4vA.png
    retrosnub:
        name: Retrosnub
        url: http://www.retrosnub.co.uk/
        logo: http://www.retrosnub.co.uk/img/2013/retrosnub.svg
    tinamous:
        name: Tinamous
        url: http://www.tinamous.com/
        logo: http://i.imgur.com/v8bk3x1.png
    nhse:
        name: NHS Commissioning Board
        url: http://www.commissioningboard.nhs.uk/
        logo: /assets/images/sponsors/NHSE.jpg
    nesta:
        name: Nesta
        url: http://www.nesta.org.uk/
        logo: /assets/images/sponsors/nesta_logo_large.jpg
    badscience:
        name: Bad Science
        url: http://www.badscience.net
        logo: /assets/images/sponsors/BadScience-logo.150.jpg
    phe:
        name: Public Health England
        url: https://www.gov.uk/government/organisations/public-health-england
        logo: /assets/images/sponsors/PHE.jpeg
    tactix4:
        name: Tactix4
        url: http://www.tactix4.com
        logo: /assets/images/sponsors/global.jpg
    bjss:
        name: BJSS
        url: http://www.bjss.com
        logo: /assets/images/sponsors/BJSS_LogogTeal.png
    openeyes:
        name: OpenEyes
        url: http://www.openeyes.org.uk/
        logo: /assets/images/sponsors/openeyes.png
    odi:
        name: The Open Data Institute
        url: http://www.theodi.org
        logo: /assets/images/sponsors/ODI-logo-med.png
    health:
        name: The Health Foundation
        url: http://www.health.org.uk/
        logo: /assets/images/sponsors/tczqKN_web.gif
    bytemark:
        name: Bytemark
        url: http://www.bytemark.com/
        logo: /assets/images/sponsors/Bytemark-THN.jpg
    knowledge:
        name: Knowledge Into Action
        url: #
        logo: /assets/images/sponsors/kintoa.png
    scraperwiki:
        name: ScraperWiki
        url: https://scraperwiki.com
        logo: /assets/images/sponsors/scraperwiki.png
    canonical:
        name: Canonical
        url: http://canonical.com
        logo: /assets/images/sponsors/canonical.jpg
    ol:
        name: OpenLabs
        url: http://www.ljmu.ac.uk/aps/OpenLabs/
        logo: /assets/images/sponsors/ol.png
    rightcare:
        name: Rightcare
        url: http://www.rightcare.nhs.uk/
        logo: /assets/images/sponsors/rightcarelogo.png
    mayden:
        name: Mayden
        url: http://www.mayden.co.uk/
        logo: "/assets/images/sponsors/Mayden Logo.png"
    aa:
        name: Mayden
        url: http://www.advancedcomputersoftware.com/
        logo: "/assets/images/sponsors/AdvancedHC.png"
    quicksila:
        name: Quicksilva
        url: http://www.qxlva.com/
        logo: "/assets/images/sponsors/Qxlva_logo_CMYK.png"
    totallyhealth:
        name: Totally Health
        url: http://www.totallyhealth.com/
        logo: "/assets/images/sponsors/TOTALLY HEALTH LOGO no strapline.jpg"
    kainos:
        name: Kainos
        url: http://www.kainos.com/
        logo: "/assets/images/sponsors/kainos.png"
    masty:
        name: Mastodon C
        url: http://www.mastodonc.com/
        logo: "/assets/images/sponsors/masty.jpg"
    ukgovcamp:
        name: UK Gov Camp
        url: http://www.ukgovcamp.com
        logo: "/assets/images/sponsors/ukgovcamp.png"
    nhsic:
        name: NHS Information Centre
        url: http://www.ic.nhs.uk
        logo: "/assets/images/sponsors/nhsic.gif"
    wao:
        name: Wales Audit Office Good Practice
        url: http://www.wao.gov.uk/
        logo: /assets/images/sponsors/wao.png
    phw:
        name: Lives Improvement Service, Public Health Wales
        url: http://www.publichealthwales.wales.nhs.uk/
        logo: /assets/images/sponsors/phw.jpg
    nhswis:
        name: NHS Wales Informatics Service
        url: http://www.wales.nhs.uk/nwis/page/52490
        logo: /assets/images/sponsors/nhswis.jpg
    cloudant:
        name: Cloudant
        url: http://cloudant.com
        logo: /assets/images/sponsors/cloudant.png
    zesty:
        name: Zesty
        url: http://www.zesty.co.uk
        logo: /assets/images/sponsors/zesty.png
---


<div class="page-container">

<p>Open Health Care UK organise NHS Hack Day as a not-for-profit event. By this we mean that no one, including the organisers, is getting paid to attend. If you would like to support the next event, please email <a href="mailto:hello@openhealthcare.org.uk?Subject=Can I help?">hello@openhealthcare.org.uk</a></p>

<hr/>
<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">London, May 2014</h2>
<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
<tr>
{% include sponsor_row.html org=page.sponsors.zesty sponsored="£500" %}
</tr>
</table>


<hr/>
<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">Cardiff, Jan 2014</h2>
<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
<tr>
{% include sponsor_row.html org=page.sponsors.wao sponsored="£1000" %}
{% include sponsor_row.html org=page.sponsors.phw sponsored="£1500" %}
{% include sponsor_row.html org=page.sponsors.nhswis sponsored="£1500" %}
{% include sponsor_row.html org=page.sponsors.cloudant sponsored="£250" %}
</tr>
</table>



<hr/>
<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">Cambridge, Nov 2013</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
{% include sponsor_row.html org=page.sponsors.londonlime sponsored="Stickers and design work" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Books" %}
{% include sponsor_row.html org=page.sponsors.elasticsearch sponsored="£600 towards food" %}
{% include sponsor_row.html org=page.sponsors.laterpay sponsored="£250" %}
{% include sponsor_row.html org=page.sponsors.gocardless sponsored="£500" %}
{% include sponsor_row.html org=page.sponsors.retrosnub sponsored="Networking, virtual server credits, and video streaming" %}
{% include sponsor_row.html org=page.sponsors.tinamous sponsored="£600 towards food" %}
</table>


<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">London, May 2013</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
{% include sponsor_row.html org=page.sponsors.nhse sponsored="£3000 towards lunch" %}
{% include sponsor_row.html org=page.sponsors.nesta sponsored="£1000" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Books" %}
{% include sponsor_row.html org=page.sponsors.ohc sponsored="t-shirts + £100 for best openprescribing.org hack" %}
{% include sponsor_row.html org=page.sponsors.badscience sponsored="£100 for best conflict interest of hack" %}
{% include sponsor_row.html org=page.sponsors.phe sponsored="£300 of vouchers for public best health data visualisation" %}
{% include sponsor_row.html org=page.sponsors.tactix4 sponsored="£300" %}
{% include sponsor_row.html org=page.sponsors.bjss sponsored="£500" %}
{% include sponsor_row.html org=page.sponsors.openeyes sponsored="£500 personal donation from Bill Aylwood director of OpenEyes" %}
{% include sponsor_row.html org=page.sponsors.odi sponsored="£1000 from ODI towards venue costs" %}

</table>


<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">Oxford, Jan 2013</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
{% include sponsor_row.html org=page.sponsors.nhse sponsored="£3000 towards lunch" %}
{% include sponsor_row.html org=page.sponsors.nesta sponsored="£500 for best overall knowledge managment project + £100 towards refreshments" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Books" %}
{% include sponsor_row.html org=page.sponsors.health sponsored="£500 knowledge management in diabetes" %}
{% include sponsor_row.html org=page.sponsors.ohc sponsored="t-shirts + £100 for best conflict of interest hack" %}
{% include sponsor_row.html org=page.sponsors.bytemark sponsored="£500 towards refreshments + free hosting trial for 4 months for whoever wants it" %}
{% include sponsor_row.html org=page.sponsors.badscience sponsored="£100 for best conflict interest of hack" %}
{% include sponsor_row.html org=page.sponsors.knowledge sponsored="£200 for knowledge management hack" %}

</table>


<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">Liverpool, Sept 2012</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>

{% include sponsor_row.html org=page.sponsors.nhse sponsored="£3000 unrestricted" %}
{% include sponsor_row.html org=page.sponsors.ol sponsored="Venue/Staff/Media/T-shirts etc" %}
{% include sponsor_row.html org=page.sponsors.rightcare sponsored="£4000 unrestricted" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Ticket to Strata - best big data project" %}
{% include sponsor_row.html org=page.sponsors.health sponsored="Patient involvement in patient safety prize" %}
{% include sponsor_row.html org=page.sponsors.canonical sponsored="Prizes - best Juju charm (https://juju.ubuntu.com/)" %}
{% include sponsor_row.html org=page.sponsors.scraperwiki sponsored="Prizes - best use of ScraperWiki (http://scraperwiki.com) " %}
{% include sponsor_row.html org=page.sponsors.tactix4 sponsored="Google Nexus 7 tablet" %}
{% include sponsor_row.html org=page.sponsors.mayden sponsored="Google Nexus 7 tablet" %}
{% include sponsor_row.html org=page.sponsors.aa sponsored="Google Nexus 7 tablet" %}
{% include sponsor_row.html org=page.sponsors.quicksila sponsored="Google Nexus 7 tablet" %}
{% include sponsor_row.html org=page.sponsors.totallyhealth sponsored="Google Nexus 7 tablet" %}
{% include sponsor_row.html org=page.sponsors.londonlime sponsored="Design wizardry inc. NHS Hack Day Logos, t-shirts, and stickers" %}
{% include sponsor_row.html org=page.sponsors.ohc sponsored="Samsung Galaxy Tablet - best use of open data" %}
</table>

<hr/>

<h2 style="background-color: #e8e8e8; padding: 8px;margin:0">London, May 2012</h2>

<table class="table table-condensed">
<tr>
    <th>Who</th>
    <th>What</th>
    <th>Website</th>
</tr>
<tr>

{% include sponsor_row.html org=page.sponsors.rightcare sponsored="£5000 unrestricted" %}
{% include sponsor_row.html org=page.sponsors.ohc sponsored="£3226.40 venue costs + £4560 refreshments (healthy lunch + tea and coffee for 200 for 2 days @ULU) + £200 prizes (inc t-shirts)+ approx £500 on pub meets and other incidental costs (total £8486.40)|" %}
{% include sponsor_row.html org=page.sponsors.tactix4 sponsored="£beer" %}
{% include sponsor_row.html org=page.sponsors.oreilly sponsored="Books" %}
{% include sponsor_row.html org=page.sponsors.scraperwiki sponsored="£150 amazon vouchers as prizes for best nhshackday scraper" %}
{% include sponsor_row.html org=page.sponsors.kainos sponsored="Raspberry Pi" %}
{% include sponsor_row.html org=page.sponsors.masty sponsored="Cloud computing time" %}
{% include sponsor_row.html org=page.sponsors.ukgovcamp sponsored="£250 unrestricted" %}
{% include sponsor_row.html org=page.sponsors.nhsic sponsored="£2000 catering sponsorship for 200 attendees" %}

</tr>
</table>



</div>
