---
layout: default
title: Projects and Code
id: projects
redirect_from: /previous/projects
---

<div class="page-container">


 {% for project in site.categories['projects'] %}
    <!-- col-md-6 will make these all show side by side but doesn't take account
         of differences in the amount of summary text which will skew the layout -->
    <div class="col-md-6" style="min-height: 200px">
      <div style="text-align:center;">
          {% if project.logo %}
          <a href="{{project.website}}"  target="_blank">
            <img src="/assets/images/projects/{{ project.logo }}" border="0"/>
          </a>
            {% if project.logo-with-name %}
              <span class="logorepl">{{project.title}}</span>
            {% endif %}
          {% else %}
          <span class="logorepl">{{project.title}}</span>
          {% endif %}
      </div>

      <p>{{ project.summary }}</p>

       <p><a href="{{project.website}}" target="_blank">Learn more &raquo;</a></p>
    </div>
  {% endfor %}

  <div class="clearfix"></div>

</div>
