body {
  padding-bottom: 20px;
  background-color: #F5F5F5;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand img {
    margin-top: -16px;
}

.page-container {
    min-height: 200px;
    border: solid 3px #e5e5e5;
    padding: 8px;
    border-radius: 8px;
    background-color: #F8F8F8;
    font-weight: 200;
}

.footer {
    margin-top: 8px;
    border-top: solid 1px #e5e5e5;
    padding: 8px;
    font-weight: 200;
}
.footer ul {
  margin-top: 8px;
  width: 100%;
}
.footer ul li {
  display: inline;
  margin-left: 30px;
}

h2 { font-weight: 200; }

.logorepl {
  font-weight: 300;
  font-size: 2.5em;
}

.event-block {
    padding: 8px
}

.tool-block {
    padding: 8px
}

.event-sidebar {
  min-width: 250px;
  max-width: 300px;
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 8px;
  border: solid 2px #a5a5a5;
}

.event-sidebar  h3 {
  font-weight: 200;
  margin-top: 0;
}

.event-sidebar ul li {
  margin-left: -25px;
}