body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F5F5F5;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand img {
    margin-top: -16px;
}

.page-container {
    min-height: 400px;
    border: solid 3px #e5e5e5;
    padding: 8px;
    border-radius: 8px;
    background-color: #F8F8F8;
}