---
layout: default
---


<div style="background-image: url({{ page.image }})" class="jumbotron header center">
	<h1 class="event-title">{{ page.title }}</h1>
<!-- 	<p class="post-description">
		{{ page.author }}
	</p> -->
        {% if page.photo-credit %}
	<p class="photo-credit">
		Photo by <a href="{{page.photo-credit-link}}" target="_blank">{{page.photo-credit}}</a> &copy;
	</p>
        {% endif %}
</div>
<div class="row bottom-spacing">
	<div class="col-md-10 col-md-push-1">
		{{ content }}
	</div>
	<div align="center">
		<img src="/assets/images/nhshd/with-love.png" width="600px" />
	</div>
</div>


		