---
layout: default
---

<div style="background-image: url({{ page.image }}); height:300px" class="jumbotron header">
    {% if page.photo-credit %}
	<p class="photo-credit">
		Photo by <a href="{{page.photo-credit-link}}" target="_blank">{{page.photo-credit}}</a> &copy;
	</p>
    {% endif %}
</div>
<div class="hgroup centered">
	<div class="container">
		<h1>{{ page.title }}</h1>
		{% if page.subtitle %}
			<h5>{{ page.subtitle }}</h5>
		{% endif %}
		<div class="pull-right" align="right">
			<h4>{{ page.date | date: '%B %d, %Y' }}</h4>
			<h5>
			{% for person in page.authors %}
				{% if forloop.last == true %}
					and
				{% endif %}
				<a href="{{ person.url }}" target="_blank">{{ person.name }}</a>
			{% endfor %}	
			</h5>
		</div>
	</div>
</div>
<div class="container">
	{{ content }}
</div>
<div class="container center">
	<img src="/assets/images/nhshd/with-love.png" height="300px" />
    {% include social.html %}
</div>