<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    </head>
    <body>

   <body>

    <div class="container">
      {% assign url = page.url|remove:'index.html' %}
      <!-- Static navbar -->
      <a href="/">
        <img src="/assets/images/header-logo.png"/>
      </a>
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li {% if url == '/rationale/' %}class="active"{% endif %}><a href="/rationale/">Rationale</a></li>
              <li {% if url == '/faqs/' %}class="active"{% endif %}><a href="/faqs">FAQs</a></li>
              <li {% if url contains '/previous/' %}class="active dropdown"{%else%}class="dropdown"{% endif %} >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Past Events, Projects and Code <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li {% if url == '/previous/events/' %}class="active"{% endif %}><a href="/previous/events/">Events</a></li>
                  <li {% if url == '/previous/projects/' %}class="active"{% endif %}><a href="/previous/projects/">Projects and code</a></li>
                </ul>
              </li>
              <li {% if url == '/tools/' %}class="active"{% endif %}><a href="/tools">Tools</a></li>
              <li {% if url == '/sponsorship/' %}class="active"{% endif %}><a href="/sponsorship/">Accounts and Sponsorship</a></li>
              <li {% if url == '/media/' %}class="active"{% endif %}><a href="/media/">Media</a></li>
              <li {% if url == '/contact/' %}class="active"{% endif %}><a href="/contact/">Contact Us</a></li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default</a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
          </div>
        </div>
      </div>


      {{ content }}

    <div class="footer">
      <a href="contact">Contact us!</a>
    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>