<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - nhshackday.com</title>
        <meta name="viewport" content="width=device-width">

        <link rel="icon"
              type="image/png"
              href="/assets/images/favicon.ico">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">

        <link rel="alternate" type="application/rss+xml" href="/blog/feed.rss" title="NHSHackday blog RSS"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/assets/js/autolink.js"></script>
        <link rel="stylesheet" href="/assets/css/autolink.css">
    </head>

   <body>

    <div class="container">
      {% assign url = page.url|remove:'index.html' %}
      <!-- Static navbar -->
      <a href="/">
        <img src="/assets/images/header-logo.png"/>
      </a>
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li {% if url == '/rationale/' %}class="active"{% endif %}><a href="/rationale/">Rationale</a></li>
              <li {% if url == '/faqs/' %}class="active"{% endif %}><a href="/faqs">FAQs</a></li>
              <li {% if url contains '/previous/' %}class="active dropdown"{%else%}class="dropdown"{% endif %} ><a href="#" class="dropdown-toggle" data-toggle="dropdown">Events, Teams and Projects <b class="caret"></b></a>
                	<ul class="dropdown-menu multi-level">

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Current Event</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="/current/general/">General Information</a></li>
                        <li><a href="/current/pitches/">Pitches</a></li>
                        <li><a href="/current/presentations/">Presentations</a></li>
                    </ul>
                  </li>

                  		<li><a href="/previous/events/2012/05/london/">1: London 2012</a></li>
                  		<li><a href="/previous/events/2012/05/liverpool/">2: Liverpool 2012</a></li>
                  		<li><a href="/previous/events/2013/01/oxford/">3: Oxford 2012</a></li>
                  		<li><a href="/previous/events/2013/05/london/">4: London 2013</a></li>
                  		<li><a href="/previous/events/2013/11/cambridge/">5: Cambridge 2013</a></li>
                  		<li><a href="/previous/events/2014/01/cardiff/">6: Cardiff 2014</a></li>
                  		<li><a href="/previous/events/2014/05/london/">7: London 2014</a></li>
                      <li><a href="/previous/events/2014/09/leeds/">8: Leeds 2014</a></li>
                      <li><a href="/previous/events/2015/01/cardiff/">9: Cardiff 2015</a></li>
               			<li {% if url == '/previous/projects/' %}class="active"{% endif %}><a href="/previous/projects/">Ongoing projects</a></li>
					</ul>
              </li>
              <li {% if url contains '/tools/' %}class="active dropdown"{%else%}class="dropdown"{% endif %} >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li {% if url == '/tools/datasets-and-apis.html' %}class="active"{% endif %}><a href="/tools/datasets-and-apis.html">Datasets and APIs</a></li>
                  <li>
                  </li>
                  <li {% if url == '/tools/organiser-notes/' %}class="active"{% endif %}><a href="/tools/organiser-notes/">Organiser Notes</a></li>
                </ul>
              </li>

              <li {% if url == '/sponsorship/' %}class="active"{% endif %}><a href="/sponsorship/">Accounts and Sponsorship</a></li>
              <li {% if url == '/blog/' %}class="active"{% endif %}><a href="/blog/">Blogs</a></li>
              <li {% if url == '/media/' %}class="active"{% endif %}><a href="/media/">Media</a></li>
              <li {% if url == '/contact/' %}class="active"{% endif %}><a href="/contact/">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>


      {{ content }}

    <div class="footer">
      <span class="pull-right">
        &copy; 2012&mdash;2014 'The NHS Hack Day community'
      </span>
    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>