---
layout: default
---

<div style="background-image: url({{ page.image }}); height:300px" class="jumbotron header">
    {% if page.photo-credit %}
	<p class="photo-credit">
		Photo by <a href="{{page.photo-credit-link}}" target="_blank">{{page.photo-credit}}</a> &copy;
	</p>
    {% endif %}
</div>

<div class="hgroup centered">
	<div class="container">
		<h1>{{ page.title }}</h1>
		{% if page.subtitle %}
			<h5>{{ page.subtitle }}</h5>
		{% endif %}
	</div>
</div>
<div class="container">
	{{ content }}
</div>


		