---
layout: compress
---
<!DOCTYPE html>
<html>
  {% capture link %}{{ content | strip_newlines | strip_html | strip }}{% endcapture %}
  {% if link == "" %}
    {% assign link = page.redirect_link %}
  {% endif %}
  <title>Redirecting…</title>
  <noscript><meta http-equiv="refresh" content="0; url={{ link }}"></noscript>
  <h3>Redirecting…</h3>
  <p>Click <a href="{{ link }}">here</a> if you are not redirected.</p>
  <script>
    let params = new URLSearchParams(document.location.search);
    let source = params.get("src");
    let link = (source != null) ? "{{ link }}?source=" + source : "{{ link }}";
    window.opener = null; location.replace(link)
  </script>
</html>