<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="main-content">
<div class="main">


  <section class="hgroup centered">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="height: 300px; margin-bottom: 0.5cm; float: left; display: block; background-image: url(/assets/images/organiser_img.jpg); background-size: cover;">
      </div>
    </div>
    <div class="row">
      <h1>Organiser Notes</h1>
      <h2>Each NHS Hackday is unique, but these guidelines might help you run your event. This is a living document which will change frequently.</h2>
    </div>
  </div>
</section>





     <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12">

              {{ content }}

                             </div>
          </div>
     </div>
</div>

    </div>
    {% include footer.html %}
  </body>
</html>
